*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.body-content{
    width: 70%;
    margin: auto;
}
/*Nav Bar*/
.header{
    background-color: gray;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#title h1{
    color: white;
}
#text-search input{
    border: 2px black solid;
    width: auto;
    height: 25px;    
}
#btn-login button{
    border: solid 2px black;
    background-color: rgb(109, 201, 189);
    color: white;
    box-shadow: 5px 5px black;
    height: 40px;
    width: 150px;
    font-size: 20px;
    cursor: pointer;
}
/*Nav Bar*/
/*Content*/
.content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/*Content*/
#ninja-desc{
    border: solid 2px black;
    background-color: rgb(223, 219, 219);
    width: auto;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}
#def{
    border: solid 2px black;
    background-color: rgb(223, 219, 219);
    width: auto;
    margin-top: 30px;
}
#ninja-desc-r{
    margin: 20px;    
}
#ninja-desc-r button{
    border: solid 2px black;
    background-color: rgb(230, 199, 1);
    color: black;
    box-shadow: 5px 5px black;
    height: 30px;
    width: 100px;
    font-size: 20px;
    cursor: pointer;
}
#ninja-desc-l p{
    margin: 20px;
}
#def{
    text-align: center;
}
#def p{
    margin:20px;
}
#def button{
    border: solid 2px black;
    background-color: rgb(230, 199, 1);
    color: black;
    box-shadow: 5px 5px black;
    height: 40px;
    width: 150px;
    font-size: 20px;
    cursor: pointer;
    margin:20px;
}
/*Footer*/
#footer{
    background-color: gray;
    height: 40px;
    margin-top: 30px;
}
/*Footer*/